.commentMovie{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eee;
    margin: 5px;
}

.commentMovie p:nth-child(1){
    width: 50%;
}

.commentMovie p:nth-child(2){
    width: 100%;
    font-style: oblique;
    color: rgba(155,155,155);
}

